:root {
    --color-marker: rgb(243 231 83 / 56%);
    --color-spoiler: #1e1e1e;
}
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cdx-marker { background: var(--color-marker) !important }
.text-spoiler { background: var(--color-spoiler) !important; color: var(--color-spoiler) !important }
